# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# macOS
.DS_Store

# Ignore IDE (Eclipse) output directory
bin

# nix / direnv / actrun
.direnv
result
_build
